@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

/* Header Styling */

h1, h2 {
  text-align: center;
  line-height: 100%;
  font-family: "Cinzel Decorative", Georgia, serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.country {
  height: 400px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

/* Ukraine */
#ukraine div {
  height: 175px;
  width: 800px;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: yellow;
}

/* Germany */
#germany div {
height: 100px;
  width: 800px;
}
#germany1 {
  background-color: black;
}

#germany2 {
  background-color: red;
}
#germany3 {
  background-color: yellow;
}

/* Lithuania */
#lithuania div {
height: 100px;
  width: 800px;
}

#lithuania1 {
  background-color: yellow;
}
#lithuania2 {
  background-color: green;
}
#lithuania3 {
  background-color: red;
}

/* Yemen */
#yemen div {
height: 100px;
  width: 800px;
}
#y1 {
  background-color: red;
  margin-bottom: 100px;
}
#y2 {
  background-color: black;
}

/* The Gambia */
#gambia div {
height: 100px;
  width: 800px;
}

#g1 {
  background-color: red;
  margin-bottom: 30px;
}

#g2 {
  background-color: blue;
  margin-bottom: 30px;
}

#g3 {
  background-color: green;
}

/* Chad */
#chad div {
height: 300px;
  width: 266px;
}


#chad1{
  background-color: blue;
  float: left;
}
#chad2 {
  background-color: yellow;
  float: left;
}
#chad3 {
  background-color: red;
  float: left;
}
/* France */
#france div {
height: 300px;
  width: 266px;
}
#f1 {
  background-color:blue;
  float: left;
  margin-right: 266px;
}
#f2 {
  background-color:red;
  float: left;
}
/* Benin */
#benin div {
}


#b1 {
  background-color: green;
  height: 300px;
  width: 300px;
  float: left;
}

#btop {
  background-color: yellow;
  height: 150px;
  width: 800px;
}

#bbottom {
  background-color: red;
  height: 150px;
  width: 800px;
}
/* UAE */

/* Denmark */

/* Norway */

/* Greece */




