@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

/* Header Styling */

h1, h2 {
  text-align: center;
  line-height: 100%;
  font-family: "Cinzel Decorative", Georgia, serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.country {
  height: 400px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

/* Ukraine */
#ukraine div {
  height: 175px;
  width: 800px;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: yellow;
}

/* Germany */
#germany div {
  height: 115px;
  width: 800px;
}

#G1 {
  background-color: black;
}

#G2 {
  background-color: red;
}

#G3 {
  background-color: yellow;
}
/* Lithuania */

#lithuania div {
  height: 115px;
  width: 800px;
}

#L1 {
  background-color: yellow;
}

#L2 {
  background-color: green;
}

#L3 {
  background-color: red;
}

/* Yemen */

#yemen div {
  height: 115px;
  width: 800px;
}

#Y1 {
  background-color: red;
  
  margin-bottom: 120px;
}

#Y2{
  background-color: black;
}

/* The Gambia */
#gambia div {
  height: 100px;
  width: 800px;
}

#g1 {
  background-color: red;
}

#g2 {
  background-color: blue;
  margin-top: 20px;
  margin-bottom: 20px;
}

#g3 {
  background-color: green;
}

/* Chad */
#chad div {
  height: 300px;
  width: 250px;

}

#c1 {
  background-color: blue;
  float: left;
}

#c2 {
  background-color: yellow;
  float: left;
}

#c3 {
  background-color: red;
  float: left;
}

/* France */
#france div {
  height: 300px;
  width: 250px;

}

#F1 {
  background-color: blue;
  float: left;
  margin-right: 250px;
}

#F2 {
  background-color: red;
  float: left;
}

/* Benin */
#benin div {

}

#B1 {
  background-color: green;
  float: left;
  height: 200px;
  width: 75px;
}

#B2 {
  background-color: yellow;
  top: 0px;
  right:0px;
  width: 250px;
  height: 100px;
}

#B3 {
  background-color: red;
  top: 100px;
  right:0px;
  width: 250px;
  height: 100px;
}


/* UAE */

#uae1 {
  background-color: red;
  float: left;
  height: 300px;
  width: 75px;
}

#ua div {
  width: 250px;
  height: 100px;
  float: left;
}

#uae2 {
  background-color: green;
}

#uae3 {
  background-color: white;
}

#uae4 {
  margin-top: 100px;
  background-color: black;
}

/* Denmark */

#denmark div div {
  background-color: red;
}

#Dleft {
  float: left;
  margin-right: 20px;
}

#Dright {
  float: left;
}

#D1 {
  width: 50px;
  height: 75px;
  margin-bottom: 20px;
}

#D2 {
  width: 50px;
  height: 75px;
}

#D3 {
  width: 150px;
  height: 75px;
  margin-bottom: 20px;
}

#D4 {
  width: 150px;
  height: 75px;
}
/* Norway */ 

#norwayblue div {
  background-color: blue;
}

#norway div div div {
  background-color: red;
}

#Nleft {
  float: left;
}

#Nleft div {
  margin-right: 40px;
}

#Nright {
  float: left;
}


#N1 {
  width: 50px;
  height: 75px;
  margin-bottom: 40px;
  border-bottom: 20px solid white;
  border-right: 20px solid white;
}

#N2 {
  width: 50px;
  height: 75px;
  border-right: 20px solid white;
  border-top: 20px solid white;
}

#N3 {
  width: 150px;
  height: 75px;
  margin-bottom: 40px;
  border-bottom: 20px solid white;
  border-left: 20px solid white;
}

#N4 {
  width: 150px;
  height: 75px;
  border-top: 20px solid white;
  border-left: 20px solid white;
}
/* Greece */

.stripes {
  height: 40px;
  width: 700px;
  background-color: blue;
  margin-bottom: 40px;
}



#box {
  float: left;
  margin-bottom: 40px;
}

#box > div {
  float: left;
}

#box div div {
  background-color: blue;
  height: 80px;
  width: 80px;
}

#Xleft {
  border-right: 40px solid white;
}

#X1, #X3 {
  border-bottom: 40px solid white;
}

#BottomS {
  float: left;
}